* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: #ffffff;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.page {
    max-width: 960px;
    margin: 0 auto;
    padding: 66px 20px 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    margin: 0 auto;
}

.hero-left {
    flex: 1 1 auto;
    min-width: 300px;
    max-width: 400px;
}

.hero-right {
    flex: 0 0 auto;
}

.name {
    margin: 0 0 10px;
    font-size: 28px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 0px 0 18px 0 ;
}

.desc {
    margin: 0 0 14px;
    font-size: 13px;
    line-height: 1.1;
    letter-spacing: 0.6px;
    font-weight: 380;
}
.desc_p {
    padding: 10px 0 10px 0;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.6px;
    font-weight: 380;
    color: red;
}

.inline-link {
    color: #1772d0;
    text-decoration: underline;

}
.inline-link:hover {
    opacity: 0.75;
}

.links {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;

}

.sep {
    margin: 0 8px;
    opacity: 0.6;
}





.avatar {
    display: block;
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 999px;
}



